.hero {
  max-height: min(90vh, 700px);
}

.img-intro,
.intro-text {
  min-height: min(90vh, 700px);
}

.img-intro {
  background-image: url("/img/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media only screen and (max-width: 768px) {
  .hero {
    max-height: max-content;
  }
  .img-intro {
    height: 100%;
    width: 100%;
    margin-bottom: -50px;
    min-height: 300px;
    max-height: 598px;
    background-image: url("/img/bg-intro-mobile.svg");
    background-position: bottom;
    background-size: cover;
  }
  .img-intro img {
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    right: auto;
    padding: 0 1.5rem;
    max-height: 398px;
    margin-top: -80px;
    margin-bottom: 100px;
  }
  .intro-text {
    min-height: auto;
    margin-bottom: 24px;
  }
}
